* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #13121b;
    transition: background-color 1s;
}

main {
    min-height: 100vh;
}

header h1 {
    color: #d202a5;
}

.logo-app {
    width: 3rem;
    margin-right: 1.2rem;
} 

.arrow {
    width: 3rem;
    @media (max-width: 700px) {
        transform: rotate(90deg);
        margin-left: .8rem;
        padding: .5rem 0rem;
    }
}

.translate-select {
    background-color: #13121b;
    color: white;
    padding: .5rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: .5rem;
}

textarea {
    padding: .5rem;
    resize: none;
    outline: none;
    color: white;
    background-color: #13121b;
}

.btnTranslate, .btnReload {
    background-color: #d202a5;
    border: .1rem solid #d202a5;
    color: white;
    padding: .5rem;
    border-radius: .3rem;
}

.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.container svg {
    position: relative;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    transition: all 0.3s;
    fill: #666;
    
}
  
.container svg:hover {
    transform: scale(1.1);
    cursor: pointer;
    
}
  
.container input:checked ~ svg {
    fill: #ffe629;
}

.lightTheme {
    background-color: #f8f8f8;
}

.first-textarea, .second-textarea {
    background-color:#f8f8f8;
    border: .1rem solid #d202a5;
    transition: background-color 1.1s;
    color: black;
}